__pycache__/
mount
*/__pycache__
*.swp
*.swo
*.pyc
ContentsProvider/project/__pycache__/project.cpython-37.pyc
*.csv
DataCollection/system/var/
var/
mnt/
var_matching.jp
ghostdriver.log
.python-version
mecab-ipadic-neologd/
# mypyのキャッシュ
.mypy_cache/
